.panel{
    max-width: 800px;
    padding: 10px;
    margin: revert;
    background: grey;
}
.text-center{
    text-align: center;
    color: black;
}
table{ width: 100%;}
table,tr,td{
    border: 10px solid tan;
}
.btn{
	background: RED;
	color: skyblue;
	padding: 10px 10px;
	display: inline-block;
	text-decoration: none;
}